.popup_inner.active {
    display: block;
    z-index: 9999;
    opacity: 1;
}
.popup_inner {
    width: 100vw;
    height: 100vh;
    position: fixed;
    z-index: -1;
    opacity: 0;
    transition: all 0.5s;
}
.popup_inner article {
    width: 800px;
    height: 640px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translateX(-50%) translateY(-50%);
    background: url(../images/common/popup.png) no-repeat;
}
.popup_inner button {
    display: block;
    position: absolute;
    left: 50%;
    top: 511px;
    transform: translateX(-50%);
}

.popup_inner::after {
    width: 100vw;
    height: 100vh;
    position: fixed;
    background-color: black;
    opacity: 0.7;
    z-index: -1;
}

#wrap.active {
    width: 100vw;
    height: 100vh;
    overflow: hidden;;
}

.sound_inner.on {
    display: block;
}

.sound_inner {
    display: none;
    width: 94px;
    height: 94px;
    position: fixed;
    right: 60px;
    bottom: 57px;
    z-index: 9999;
}
.sound_inner > img {
    animation: circle 7s linear infinite;
}

.sound_inner > a {
    display: none;
    width: 44px;
    height: 31px;
    position: absolute;
    right: 25px;
    bottom: 30px;
    z-index: 999;
}
.sound_inner > a.on {
    display: block;
}

#site_header {
    width: 100%;
    height: 100px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 999;
}
#site_header .logo.on {
    filter: invert(70%);
}
#site_header .logo {
    position: absolute;
    top: 60px;
    left: 60px;
}
#site_header .page_header_navtrigger {
    position: absolute;
    top: 57px;
    right: 60px;
}
#site_header .page_header_navtrigger .mask {position: relative;}
#site_header .page_header_navtrigger a {
    opacity: 0;
    transition: all 0.5s;
}
#site_header .page_header_navtrigger a.on {opacity: 1;}
#site_header .page_header_navtrigger .toggle_menu {
    position: absolute;
    top: 0px;
    right: 0px;
}
#site_header .page_header_navtrigger .toggle_close {
    position: absolute;
    top: 0px;
    right: 5px;
}
#site_header .page_header_navtrigger .toggle_close.on {
    transform: rotate(-185deg);
}
#mega {
    width: 100vw;
    height: 100vh;
    position: fixed;
    left: 0px;
    top: 100%;
    transform: translateY(100%);
    transition: all 1s;
    z-index: 999;
    background-color: black; 
    opacity: 0;
}

#mega.on {
    transform: translateY(-100%);
    transition: all 0.7s;
    opacity: 1;
}
#mega .menu_list {
    width: 100vw;
    height: 100vh;
    position: absolute;
}
#mega .menu_list .menu_list_inner {
    width: 100vw;
    height: 100vh;
    position: relative;
}
#mega .menu_list .menu_list_inner li {
    display: block;
    width: 100vw;
    height: 100vh;
    position: absolute;
    right: 0px;
    top: 0px;
    background-color: rgba(0,0,0,0);
}

#mega .menu_list .menu_list_inner li > span {
    position: absolute;
}
#mega .menu_list .menu_list_inner li .txt .txt_off {opacity: 1;}
#mega .menu_list .menu_list_inner li .txt .txt_on {opacity: 0;}
#mega .menu_list .menu_list_inner li.on .txt .txt_off {opacity: 0;}
#mega .menu_list .menu_list_inner li.on .txt .txt_on {opacity: 1;}

#mega .menu_list .menu_list_inner li > .img {
    width: 50vw;
    height: 100vh;
    right: 0px;
    top: 0px;
    z-index: 100;
    transition: all 1s;
    opacity: 0;
}
#mega .menu_list .menu_list_inner li span a {
    display: block;
    position: absolute;
    z-index: 999;
    transition: all 0.5s;
    cursor: pointer;
}
#mega .menu_list .menu_list_inner li.on .img {
    z-index: 110;
    opacity: 1;
}
#mega .menu_list .menu_list_inner li.menu_01 span a {
    left: 74px;
    top: 174px;
}
#mega .menu_list .menu_list_inner li.menu_02 span a {
    left: 73px;
    top: 257px;
}
#mega .menu_list .menu_list_inner li.menu_03 span a {
    left: 76px;
    top: 345px;
}
#mega .menu_list .menu_list_inner li.menu_04 span a {
    left: 71px;
    top: 433px;
}
#mega .txt_info {
    position: absolute;
    left: 75px;
    top: 680px;
    z-index: 110;
}

#mega .txt_bg {
    position: relative;
    z-index: 110;
}
#mega .txt_bg .txt {
    position: absolute;
    right: -30px;
    top: 534px;
}

#mega .menu_bottom {
    width: 100%;
    height: 65px;
    position: absolute;
    left: 0px;
    bottom: 0px;
    background-color: black;
    z-index: 110;
}

#mega .menu_bottom .txt_info_inner {position: relative;}
#mega .menu_bottom .txt_info_inner li {
    position: absolute;
    left: 74px;
    top: 23px;
}

@keyframes circle {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}