

#container {
    width: 100vw;
    height: 100vh;
    position: relative;
    z-index: 10;
    /*overflow: hidden;*/
    /* background: black; */
}






.posNum {
    position: fixed;
    left: 50%;
    top: 50%;
    width: 300px;
    height: 50px;
    margin: -25px 0 0 -150px;
    background: rgba(0,0,0,0.6);
    color: #fff;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    line-height: 50px;
    z-index: 9999;
}


.scroll-content > section{
    width: 100vw;
    height: 100vh;
    position: relative;
    overflow: hidden;
}





body {background: url(../images/common/bg.gif) center center repeat;}



#section01 {height: 1870vh;}
#section01 .trigger-this-01 {height: 100%;}
#section01 .trigger-this-01 .fix-this-01 {
    position: relative;
    width: 100vw;
    height: 100vh;
}

/* ========== #section01 ========== */

#section01 .inner04 {width: 3840px;}

#section01 [class^="inner0"] {
    position: relative;
    height: 100%;
}
#section01 .inner05 {
    width: 100vw;
    height: 2580px;
    position: absolute;
    top: 80px;
    left: 0px;
    transform: translateY(10%) !important;
}
#section01 .inner05 .section02 { 
    width: 100vw;
    height: 100vh;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 99999;
    opacity: 0;
    transform: translateY(70%);
}



/* ========== #section01 .section02 ========== */
#section01 .inner05 .section02 .part01 {
    position: absolute;
    top: 625px;
    left: 677px;
    opacity: 0;
}
#section01 .inner05 .section02 .part01 .txt_inner {margin-top: 10px;}
#section01 .inner05 .section02 .part01 .txt_inner .tit {}
#section01 .inner05 .section02 .part01 .txt_inner .txt {margin-top: 70px;}
#section01 .inner05 .section02 .part01 .txt_inner .btn_read {margin-top: 100px;}
#section01 .inner05 .section02 .part01 .img {
    position: absolute;
    top: 10px;
    left: -878px;
}
#section01 .inner05 .section02 .part01 .img img {
    width: 825px;
    height: 945px;
}

#section01 .inner05 .section02 .part02 {
    position: absolute;
    top: 1156px;
    left: 1281px;
    opacity: 0;
}
#section01 .inner05 .section02 .part02 .txt_bg {
    position: absolute;
    top: 0px;
    left: 307px;
}

#section01 .inner05 .section02 .part03 {
    position: absolute;
    top: 1500px;
    left: 1015px;
    opacity: 0;
}
#section01 .inner05 .section02 .part03 .img {
    position: absolute;
    top: 0px;
    left: 444px;
}
#section01 .inner05 .section02 .part03 .tit_inner {
    position: relative;
    height: 353px;
}
#section01 .inner05 .section02 .part03 .tit_inner .tit_01 {
    position: absolute;
    top: 87px;
    left: 0px;
}
#section01 .inner05 .section02 .part03 .tit_inner .tit_02 {
    position: absolute;
    top: 247px;
    left: 40px;
}
#section01 .inner05 .section02 .part03 .txt {margin-left: 40px; margin-top: 70px;}
#section01 .inner05 .section02 .part03 .btn {margin-left: 40px; margin-top: 50px;}



#section01 .inner06 {
    width: 100vw;
    height: 100vh;
    position: absolute;
    right: 0px;
    top: -980px;
}
#section01 .inner06 .main_group_inner { position: relative;}

#section01 .inner06 .part04 {
    position: absolute;
    top: 39px;
    left: -228px;
}
#section01 .inner06 .part04 > * {opacity: 0;}
#section01 .inner06 .part04 .img {
    position: absolute;
    top: 0px;
    left: 0px;
}
#section01 .inner06 .part04 .txt_inner {position: relative;}
#section01 .inner06 .part04 .txt_inner > * {position: absolute;}
#section01 .inner06 .part04 .txt_inner .tit {
    left: 525px;
    top: 30px;
}
#section01 .inner06 .part04 .txt_inner .txt {
    left: 525px;
    top: 150px;
}
#section01 .inner06 .part04 .txt_inner .btn {
    left: 525px;
    top: 550px;
}

#section01 .inner06 .part05 {
    width: 485px;
    height: 1018px;
    position: absolute;
    top: 1150px;
    left: 100px;
}
#section01 .inner06 .part05 > * {
    opacity: 0;
}
#section01 .inner06 .part05 .circle {
    position: relative;
    z-index: 100;
}
#section01 .inner06 .part05 .circle:hover {}
#section01 .inner06 .part05 .circle:hover img {opacity: 1;}
#section01 .inner06 .part05 .circle .txt {
    position: absolute;
    left: -10px;
    top: 198px;
    animation: circle 7s linear infinite;
}
#section01 .inner06 .part05 .circle .arr {
    position: absolute;
    left: 40px;
    top: 251px;
}
#section01 .inner06 .part05 .img {
    position: absolute;
    left: 50px;
    top: 330px;
}
#section01 .inner06 .part05 .txt_01 {
    display: block;
    margin-left: 70px;
    margin-top: 0px;
}
#section01 .inner06 .part05 .txt_02 {
    display: block;
    margin-left: 70px;
    margin-top: 43px;
}

#section01 .inner06 .part06 {
    width: 492px;
    height: 614px;;
    position: absolute;
    top: 1020px;
    left: 445px;
    opacity: 0;
}
#section01 .inner06 .part06 .txt {
    position: relative;
}
#section01 .inner06 .part06 .img {
    position: absolute;
    top: 40px;
    left: 0px;
}
#section01 .inner06 .part07 {
    width: 1354px;
    height: 1077px;
    position: absolute;
    top: -180px;
    left: 1430px;
    opacity: 1;
}
#section01 .inner06 .part07 .img {
    width: 1083px;
    height: 764px;
    position: absolute;
    right: 0px;
    bottom: 0px;
    overflow: hidden;
    z-index: 100;
}
#section01 .inner06 .part07 .img img {
    width: 1083px;
    height: auto;
}
#section01 .inner06 .part07 .tit {
    position: absolute;
    left: 100px;
    bottom: -10px;
    z-index: 99999999;
}
#section01 .inner06 .part07 .tit.on {z-index: 80;}
#section01 .inner06 .part07 .txt {
    position: absolute;
    left: 0px;
    bottom: 2px;
}
/* ========== #section01 #main ========== */
#main .next_btn {
    width: 251px;
    height: 87px;
    position: absolute;
    top: 442px;
    left: 1606px;
    z-index: 9999;
    cursor: pointer;
}
#main .circle_btn {
    position: absolute;
    top: 423px;
    left: 110px;
    animation: none;
}
#main .circle_btn .circle {position: relative;}
#main .circle_btn .circle .circle_txt {
    position: absolute;
    top: 0px;
    left: 0px;
    animation: circle 7s linear infinite;
}
#main .circle_btn .circle .txt {
    position: absolute;
    top: 35px;
    left: 29px;
}
#main .circle_btn .arr {
    position: absolute;
    top: 105px;
    left: 8px;
}
#main .slider_align {
    width: 100vw;
    height: 100vh;
    position: relative;
    z-index: 999;
}
#main #slider {
    width: 100vw;
    height: 100vh;
    position: absolute;
    top: 118px;
    left: 608px;
}
#main .volume .img > img {
    width: 1092px;
    height: 773px;
    object-fit: cover;
}
#main .volume .tit {
    position: absolute;
    top: 15px;
    left: 63px;
}
#main .volume .txt {
    position: absolute;
    top: 200px;
    left: 70px;
}




#section01 .main_group04 {
    width: 100vw;
    height: 100vh;
    position: absolute;
    right: -860px;
    bottom: 70px;
    transform: translateY(80%);
    z-index: 100;
}
#section01 .main_group04 .main_group_inner {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 100vh;
    position: relative;
    margin-top: 1200px;
    z-index: 200;
}
#section01 .main_group04 .main_group_inner .txt {
    opacity: 0;
}
#section01 .main_group04 .main_group_inner .img {
    position: absolute;
    top: 950px;
    left: -3800px;
    z-index: 200;
    opacity: 0;
}

.inner06 .random_group_inner.off {
    opacity: 0 !important;
}
.inner06 .random_group_inner {
    width: 100vw;
    height: 100vh;
    position: absolute;
    left: 0px;
    bottom: 0;
    /* transform: translateY(80%); */
    z-index: 100;
}
.inner06 .random_group_inner span {
    display: block;
}
#section01 .main_group04 .random_group_inner .txt {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 100vh;
    margin-top: 100px;
    z-index: 100;
}
#section01 .main_group04 .random_group_inner .txt > span {
    padding-top: 41px;
    opacity: 0;
}

#section01 .main_group04 .random_group_inner .txt > span.txt_1 {
    padding-top: 0px;
}
#section01 .main_group04 .random_group_inner .img_random_inner {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: space-between;
    width: 680px;
    height: 1150px;
    position: absolute;
    left: 50%;
    top: 0;
    transform: translateX(-50%) translateY(80%);
    opacity: 1;
}

#section01 .main_group04 .random_group_inner .img_random_inner .img01 {transform: translate(-300px, 40px) rotate(-40deg);}
#section01 .main_group04 .random_group_inner .img_random_inner .img02 {transform: translate(200px, 100px) rotate(20deg);}
#section01 .main_group04 .random_group_inner .img_random_inner .img03 {transform: translate(540px, 70px) rotate(40deg);}
#section01 .main_group04 .random_group_inner .img_random_inner .img04 {transform: translate(100px, 200px) rotate(-40deg);}
#section01 .main_group04 .random_group_inner .img_random_inner .img05 {transform: translate(0px, 150px) rotate(20deg);}
#section01 .main_group04 .random_group_inner .img_random_inner .img06 {transform: translate(800px, 200px) rotate(10deg);}
#section01 .main_group04 .random_group_inner .img_random_inner .img07 {transform: translate(-550px, -380px) rotate(-50deg);}
#section01 .main_group04 .random_group_inner .img_random_inner .img08 {transform: translate(-100px, 20px) rotate(20deg);}
#section01 .main_group04 .random_group_inner .img_random_inner .img09 {transform: translate(-100px, 200px) rotate(65deg);}
#section01 .main_group04 .random_group_inner .img_random_inner .img10 {transform: translate(-300px, -120px) rotate(15deg);}
#section01 .main_group04 .random_group_inner .img_random_inner .img11 {transform: translate(-500px, 0px) rotate(35deg);}
#section01 .main_group04 .random_group_inner .img_random_inner .img12 {transform: translate(500px, 0px) rotate(-25deg);}
#section01 .main_group04 .random_group_inner .img_random_inner .img13 {transform: translate(0px, 0px) rotate(40deg);}
#section01 .main_group04 .random_group_inner .img_random_inner .img14 {transform: translate(0px, 0px) rotate(40deg);}
#section01 .main_group04 .random_group_inner .img_random_inner .img15 {transform: translate(0px, 0px) rotate(-40deg);}

/* ========== section02 ========== */
/* ========== section03 ========== */
/* ========== section04 ========== */
/* ========== section05 ========== */
/* ========== section06 ========== */
/* ========== section07 ========== */
/* ========== section08 ========== */
/* ========== section09 ========== */
#section03{
    height: 800vh;
    margin-bottom: 200px;
}
#section03 .trigger-this-03 {
    height: 100%;
}
#section03 .fix-this-03 {
    width: 100vw;
    height: 100vh;
}
#section03 .inner01 {
    width: 11100px;
    height: 120vh;
    position: relative;
}
/* 여기에 배경색을 넣어줬어요! */
#section03 .inner01.on {
    background-color: #dddcd1;
}
.txt_flowing_inner {
    position: absolute;
    top: 40%;
    left: 1500px;
    transform: translateY(-50%);
}
.txt_flowing_inner .txt_inner {
    position: relative;
}
.txt_flowing_inner .circle {
    position: absolute;
    top: 130px;
    left: 2515px;
    animation: circle 7s linear infinite;
    z-index: 90;
}
.txt_flowing_inner .circle::after {
    content: "";
    display: block;
    width: 467px;
    height: 467px;
    position: absolute;
    top: -30px;
    left: -30px;
    background: url(../images/section03/01_circle_line.png) center no-repeat;
}
.txt_flowing_inner .txt {
    position: relative;
    padding-top: 240px;
    padding-left: 285px;
    z-index: 100;
}
.txt_flowing_inner .img_inner {
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: 500;
}
.txt_flowing_inner .img_inner > a {
    display: block;
    position: absolute;
}
.txt_flowing_inner .img_inner > a.img01 {top: 380px; left: 60px;}
.txt_flowing_inner .img_inner > a.img02 {top: 150px; left: 930px;}
.txt_flowing_inner .img_inner > a.img03 {top: 630px; left: 2025px;}
.txt_flowing_inner .img_inner > a.img04 {top: 405px; left: 3385px;}
.txt_flowing_inner .img_inner > a.img05 {top: 90px; left: 4490px;}

.txt_off_on_inner {
    width: 100vw;
    height: 100vh;
    position: absolute;
    top: 250px;
    right: 780px;
}
.txt_off_on_inner .txt {
    position: relative;
}
.txt_off_on_inner .txt > div {
    width: 100vw;
    height: 100vh;
    display: none;
    position: absolute;
    top: 0px;
    left: 0px;
}
.txt_off_on_inner .txt > div.on {
    display: block;
}
.txt_off_on_inner .txt > div .txt_01 {
    position: absolute; 
    top: 350px; 
    left: -45px;
}
.txt_off_on_inner .txt > div .txt_02 {
    width: 335px;
    height: 321px;
    position: absolute; 
    top: 1130px; 
    left: 1100px;
    transform: translateY(130%);
}

#section04 {
    width: 100vw;
    /* height: 1892px; */
    height: 2370px;
    position: relative;
}
#section04 .volume_list li {
    width: 100vw;
    height: 458px;
    position: relative;
    overflow: hidden;
    margin-top: 20px;
    background-color: black;
}
#section04 .volume_list li:first-child {margin-top: 0px;}
#section04 .volume_list li .txt_inner {
    position: absolute;
    top: 30%;
    left: 20%;
    z-index: 999;
}
#section04 .volume_list li .txt_inner > span {
    position: absolute;
    left: 0px;
    overflow: hidden;
}
#section04 .volume_list li .txt_inner .txt_1 {top: 0px;}
#section04 .volume_list li .txt_inner .txt_2 {    
    width: 323px;
    height: 44px;
    top: 70px;
}
#section04 .volume_list li .txt_inner .txt_3 {
    width: 159px;
    height: 16px;
    top: 140px;
}

#section04 .volume_list li .txt_inner .txt_1 > img {transition: all 0.3s linear 0.3s}
#section04 .volume_list li .txt_inner .txt_2 > img {transition: all 0.3s linear 0.5s}
#section04 .volume_list li .txt_inner .txt_3 > img {transition: all 0.3s linear 0.7s}
#section04 .volume_list li .txt_inner > span > img {
    transform: translateY(50%);
    opacity: 0;
}
#section04 .volume_list li .txt_inner > span.on > img {
    transform: translateY(0);
    opacity: 1;
}
#section04 .volume_list li .img > span > img { 
    transform: scale(1.2);
    transition: all 1s;
    opacity: 0.7;
}
#section04 .volume_list li .img > span.on > img {  
    transform: scale(1);
    opacity: 1;
}



#section05{
    height: 265vh;
}
#section05.on {
    background: #dddcd1;
}
#section05 .trigger-this-05 {
    height: 100%;
}
#section05 .fix-this-05 {
    width: 100vw;
    height: 100vh;
    position: relative;
}
#section05 .fix-this-05 .gallery_inner {
    display: flex;
    position: absolute;
    top: 142px;
    left: 1800px;
}
#section05 .fix-this-05 .gallery_inner div {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 474px;
    height: 674px;
    margin-left: 47px;
    background-color: #c8b898;
}
#section05 .fix-this-05 .gallery_inner div img {
    width: 266px;
    height: 398px;
}
#section05 .fix-this-05 .gallery_inner .img_1 {
    margin-left: 0px;
}


#section06{height: 420vh;}
#section06.on {background: #dddcd1;}

#section06 .trigger-this-06 {
    height: 100%;
}
#section06 .fix-this-06 {
    width: 100vw;  
    height: 100vh;
    position: relative;
}

/* section06에 on 몰아서 써줬어요~ */
#section06 .txt_inner {
    width: 100vw;
    height: 100%;
    position: absolute;
    transform: translateY(10%);
}
#section06 .txt_inner .txt {
    width: 100vw;
    height: 100%;
    position: absolute;
    top: 200px;
    left: 0px;
}
/* 부모에게 너비값과 높이값이 있는 상태로 원하는 곳에 위치시키는게 중요해요!
position은 공중에 뜨기 때문에 자신이 갖고 있었던 속성값들을 잊어버려서
부모 기준으로 자식들을 정렬 시킬때 너비,높이를 넣어주는게 구동 넣기에도 좋아요~*/
#section06 .txt_inner .txt .txt_part01 {
    width: 880px;
    height: 1018px;
    position: absolute;
    top: 95px;
    left: 0px;
}
/* 자식들은 부모가 있는 위치에서 left:0 ,top:0 딱 붙어서 나오고 있는거에요! 
이렇게 배치하게되면 자식들을 일일히 위치 잡아줄 필요가 없습니당!*/
#section06 .txt_inner .txt .txt_part01 > div {
    position: absolute;
    left: 0;
    top: 0;
}
/* display none 말고도 z-index로도 가능합니당! (저는 주로 요런식으로 하는편이에용)
대신 z-index를 사용하기 위해선 대상이 position을 갖고 있어야 돼요~ */
#section06.on .txt_inner .txt_part01 .txt_01 {
    z-index: 999;
}
#section06 .txt_inner .txt_part01 .txt_01 {
    z-index: -1;
}
/* txt_part02도 위에랑 마찬가지로 적용해줬어요~ */
#section06 .txt_inner .txt .txt_part02 {
    width: 396px;
    height: 97px;
    position: absolute;
    top: 1200px;
    left: 1026px;
}
#section06 .txt_inner .txt .txt_part02 > div {
    position: absolute;
    left: 0;
    top: 0;
}
#section06.on .txt_inner .txt_part02 .txt_02 {
    z-index: 999;
}
#section06 .txt_inner .txt_part02 .txt_02 {
    z-index: -1;
}
#section06 .txt_inner .img {
    position: absolute;
    top: 1596px;
    left: 1026px;
}


#section07 {
    width: 100vw;
    height: 360vh;
}
#section07.on {
    background: #dddcd1;
}
#section07 .trigger-this-07 {
    height: 100%;
}
#section07 .fix-this-07 {
    width: 100vw;  
    height: 100vh;
}
#section07 .gallery_inner {
    width: 100%;
    height: 1800px;
    position: relative;
    transform: scale(2);
    transform-origin: center 510px;
}
#section07 .gallery_inner > div {position: absolute;}
#section07 .gallery_inner > div > img {
    object-fit: cover;
    transform: translateX(-50%);
}

#section07 .gallery_0 {
    left: 50%;
    top: 220px;
}

#section07 .gallery_01 {
    left: 210px;
    top: 165px;
}
#section07 .gallery_02 {
    left: 245px;
    top: 505px;
}
#section07 .gallery_03 {
    left: 185px;
    top: 1060px;
}
#section07 .gallery_04 {
    left: 660px;
    top: 820px;
}
#section07 .gallery_05 {
    left: 1170px;
    top: 820px;
}
#section07 .gallery_06 {
    left: 660px;
    top: 1120px;
}
#section07 .gallery_07 {
    left: 1170px;
    top: 1240px;
}
#section07 .gallery_08 {
    left: 1640px;
    top: 125px;
}
#section07 .gallery_09 {
    left: 1735px;
    top: 560px;
}
#section07 .gallery_10 {
    left: 1624px;
    top: 1335px;
}

#section07 .gallery_0 > img {width: 960px;}
#section07 .gallery_01 > img {width: 420px;}
#section07 .gallery_02 > img {width: 350px;}
#section07 .gallery_03 > img {width: 470px;}
#section07 .gallery_04 > img {width: 360px;}
#section07 .gallery_05 > img {width: 540px;}
#section07 .gallery_06 > img {width: 360px;}
#section07 .gallery_07 > img {width: 540px;}
#section07 .gallery_08 > img {width: 280px;}
#section07 .gallery_09 > img {width: 470px;}
#section07 .gallery_10 > img {width: 248px;}

#section08 {
    height: 430vh;
    /* margin-top: -120px; */
}
#section08.on {
    background: #dddcd1;
}


#section08 .trigger-this-08 {
    height: 100%;
}
#section08 .fix-this-08 {
    width: 100vw;
    height: 100vh;
}
#section08 .inner01 {
    width: 10400px;
    height: 100%;
    position: relative;
}

#section08 .txt_inner {
    position: relative;
    margin-top: 264px;
}


#section08 .txt_off.off {display: none;}
#section08 .txt_on.off {display: none;}

#section08 .txt_off.on {display: block;}
#section08 .txt_on.on {display: block;}


#section08 .txt_inner div[class*="txt_part"] {
    position: absolute;
    z-index: 100;
}

#section08 .txt_inner div[class*="txt_part"] > span {
    display: block;
    margin-top: 20px;
}
#section08 .txt_inner div[class*="txt_part"] > span > img {opacity: 0;}
#section08 .txt_inner div[class*="txt_part"] > span.txt_01 { margin-top: 0px;}


#section08 .txt_inner .txt_part01 {
    left: 934px;
    top: 170px
}
#section08 .txt_inner .txt_part02 {
    left: 334px;
    top: 520px;
}
#section08 .txt_inner .txt_part03 {
    left: 934px;
    top: 1250px;
}
#section08 .txt_inner .txt_part04 {
    left: 200px;
    top: 1880px;
}
#section08 .txt_inner .txt_part04 .txt_01 {margin-left: -18px;}
#section08 .txt_inner .txt_part05 {
    left: 850px;
    top: 2245px;
}
#section08 .txt_inner .txt_part05 .txt_01 {margin-left: 175px;}
#section08 .txt_inner div[class*="txt_flowing_"] {
    position: relative;
    z-index: 10;
}
#section08 .txt_inner .txt_flowing_left > span {
    position: absolute;
    left: -100px;
    top: 22px;
}
#section08 .txt_inner .txt_flowing_right > span {
    position: absolute;
    left: -3290px;
    top: 788px;
}
#section08 .txt_inner .txt_flowing_bottom > span {
    opacity: 0;
}
#section08 .txt_inner .txt_flowing_bottom > span:nth-child(odd) {
    position: absolute;
    left: -167px;
    top: 2731px;
}
#section08 .txt_inner .txt_flowing_bottom > span:nth-child(even) {
    position: absolute;
    left: -167px;
    top: 3271px;
}


#section09 {
    height: 650vh;
    background-image: url(../images/common/bg.gif);
    overflow: hidden;
}
#section09 .trigger-this-09 {
    height: 100%;
}
#section09 .fix-this-09 {
    width: 100%;
    height: 4830px;
    position: relative;
}
#section09 .s09 {
    width: 100vw;
    height: 1080px;
    position: relative;
    background: url(../images/section09/img_bg_flowing_1.png);
}
#section09 .flowing_txt_inner {
    position: absolute;
    left: 75%;
    top: 50%;
    transform: translateY(-50%);
    z-index: 99999;
}
#section09 .rect {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
}
#section09 .rect .clip {
    width: 3840px;
    height: 2940px;
    position: absolute;
    left: 50%;
    top: 40%;
    z-index: 999;
    transform: translate(-50%, -50%) scale(5); 
    clip-path: polygon(0% 0%, 0% 100%, 44.4% 100%, 44.3% 42.6%, 55.7% 42.6%, 55.7% 57.4%, 44.3% 57.4%, 33.1% 100%, 100% 100%, 100% 0%);
    background-image: url(../images/common/bg.gif);
}
#section09 .rect .white_bg {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: -250px;
    transform: scale(2);
}
#section09 .img_inner {}
#section09 .scroll_box_inner {
    width: calc(100% - 120px);
    position: absolute;
    /* top: 1260px; */
    top: 2000px;
    left: 60px;
    right: 60px;
    z-index: 99999;
}
#section09 .scroll_box_inner .box_area + .box_area {}
#section09 .scroll_box_inner .box_area + .box_area + .box_area {}
#section09 .scroll_box_inner .box_area {
    display: flex;
    justify-content: space-between;
    width: 100%;
}
#section09 .scroll_box_inner .box {
    width: calc(25% - 60px);
    height: calc(25% - 60px);
    min-width: 435px; 
    min-height: 435px;
}
#section09 .scroll_box_inner .mask_box {
    opacity: 0;
}
#section09 .scroll_box_inner .box.box_1,
#section09 .scroll_box_inner .box.box_3,
#section09 .scroll_box_inner .box.box_4 {background-color: #eeedea;}

#section09 .scroll_box_inner .box.box_2,
#section09 .scroll_box_inner .box.box_5,
#section09 .scroll_box_inner .box.box_6,
#section09 .scroll_box_inner .box.box_7 {background-color: #d9d5cd;}

#section09 .scroll_box_inner .box.box_8,
#section09 .scroll_box_inner .box.box_9,
#section09 .scroll_box_inner .box.box_10,
#section09 .scroll_box_inner .box.box_12 {background-color: #ada9a1;}

#section09 .scroll_box_inner .txt {margin-top: 20px; margin-bottom: 20px;}



#footer {
    width: 100vw;
    height: 950px;
    position: absolute;
    left: 0;
    bottom: 0;
    z-index: 99999;
}
#footer .flowing_txt_inner02 {
    display: flex;
    margin-top: 123px;
    margin-bottom: 135px;
    animation: footer_flow 7s linear infinite;
}
#footer .flowing_txt_inner02 > div {
    margin-right: 60px;
}
@keyframes footer_flow {
    100% {
        transform: translateX(-1032px);
    }
}
#footer .txt_inner {
    width: 1250px;
    position: relative;
    margin: auto;
}
#footer .txt_inner .txt {}
#footer .txt_inner .txt_2 {
    width: 722px;
    position: absolute;
    right: 0;
}
#footer .txt_inner .txt_2 dt {margin-bottom: 20px;}
#footer .input_email form {
    border-bottom: 1px solid #fff;
}
#footer .input_email form input {
    font-family: 'Arial';
    font-size: 16px;
    padding-top: 10px;
    padding-bottom: 20px;
    border: 0;
    outline: none;
    background: none;
}
#footer .input_email form input::placeholder {
    color: #fff;
}
#footer .input_email form input:focus {
    color: #fff;
}
#footer .input_email form button {
    position: absolute;
    right: 0;
    border: 0;
    outline: none;
    background: none;
    cursor: pointer;
}