#container {
  position: relative;
  width: 100vw;
  height: 100vh;
}

.posNum {
  position: fixed;
  left: 50%;
  top: 50%;
  width: 300px;
  height: 50px;
  margin: -25px 0 0 -150px;
  background: rgba(0,0,0,0.6);
  color: #fff;
  font-size: 20px;
  font-weight: bold;
  text-align: center;
  line-height: 50px;
  z-index: 9999;
}
body {
  font-family: 'yoongothic700', 'sans-serif';
  line-height: 0;
}
footer, #wrap > * {width: 100vw;}
article {width: inherit;}
#wrap article {
  position: relative;
  overflow: visible;
  margin-left: 50%;
  transform: translateX(-50%);
}

[class^="inner"] {
  position: relative;
  overflow: visible;
  width: inherit;
}

[class*="_area"] {
  position: relative;
  display: inline-block;
  overflow: visible;
  width: inherit;
}

[class^="inner"].set {
  width: 100vw;
  max-width: 1920px;
  min-width: 1920px;
}

.set {
  margin-left: 50%;
  transform: translateX(-50%);
}


strong {display: block;}
h2, h3, h4, h5, h6, dt, dd, p, strong {white-space : pre-line;}

h2::first-line,
h3::first-line,
h4::first-line,
h5::first-line,
h6::first-line,
dt::first-line,
dd::first-line,
p::first-line,
strong::first-line {line-height: 0; vertical-align: top;}




h2 img,
h3 img,
h4 img,
h5 img,
h6 img,
dt img,
dd img,
p img,
strong img
{vertical-align: bottom;}




h2 img,
h3 img,
h4 img,
h5 img,
h6 img,
dt img,
dd img,
p img,
strong img
{vertical-align: bottom;}





p {font-size: 20px; line-height: 1.7;}
.tit  {font-size: 105px; line-height: 106px;}


h1 {}
h1 img.on {opacity: 0;}
h1 img.on {position: absolute; left: 0; top: 0;}
button {position: relative; transition: 0.5s;}
button img.hover {opacity: 0;}
button img.hover {position: absolute; left: 0; top: 0;}
button:hover img {opacity: 0; transition: 1s;}
button:hover img.hover {opacity: 1;}
button[class^="btn_"]::after {
  content: '';
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  transition: 0.5s;
}



.bg {position: relative;}
.bg > * {position: relative; z-index: 10;}
.bg::after {
  content: '';
  display: block;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: 0;
  width: 100%;
  height: inherit;
  background-repeat: no-repeat;
  background-position: center top;
  z-index: 1;
}


.full_screen {
  width: 100vw;
  height: 100vh;
  min-height: 1080px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}



.mockup_area.mask {z-index: 100;}
.mockup_area.mask .mockup ,
.mockup_area.mask .fst > *,
.mockup_area.mask .fst,
.mockup_area.mask .lst {position: absolute;}

.mockup_area.mask .fst {z-index: 300;}
.mockup_area.mask .mockup {z-index: 200;}
.mockup_area.mask .lst {z-index: 100;}

.mockup_area.mask .fst .soft-light img {mix-blend-mode: soft-light; opacity: 0.2;}
.mockup_area.mask .fst .multiply   img {mix-blend-mode: multiply; opacity: 0.2;}


.mockup_area .desc {position: absolute; z-index: 300;}
.mockup_area .desc .txt {position: absolute;}
.mockup_area .desc i {position: absolute;}
.mockup_area .desc h6, .mockup_area .desc p {line-height: 1.5;}
.mockup_area .desc h6 {font-size: 18px; }
.mockup_area .desc p  {font-size: 16px; margin-top: 20px;}


body::after {
  background-blend-mode :multiply;
  background: url(../images/common/noise.gif) repeat;
}
body::before,
body::after {
  content: '';
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: #141414;
  z-index: -1;
}





/* ========== header ========== */

header#gnb {
  position: fixed;
  right: 0;
  left: 0;
  top: 0;
  transition: 0.6s;
  z-index: 999;
}

header#gnb button {
  position: absolute;
  right: 60px;
  top: 100px;
}

header h1 {
  position: absolute;
  left: 1011px;
  top: 710px;
  transition: 0.6s;
}

header.active h1 {
  left: 60px;
  top: 30px;
  transform: scale(0.5);
  transform-origin: top left;
}


/* 
#wrap::after {
  content: '';
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 25000px;
  background: url(../images/bg.gif) center top no-repeat;
  opacity: 0.5;
}
#deliver {position: relative; z-index: 99999999;}
#wrap {margin-top: -17800px;}
*/



